nav {
    display: flex; /* joga os elementos para o lado da imagem */
    justify-content: space-between; /* espaço entre os elementos */
    padding: 1em;
    border-bottom: 1px solid #777; /* linha de separação do cabeçalho */
}

.brand,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 40px;
    margin-right: 0.6rem;
    
}
.brand h2 {
    transition:0.4s;
}
.brand:hover > h2 {
    color: #dec129;
}
.links li {
    margin-right: 1em;
    list-style: none;
}
.links a {
    padding: 0.1em 0.3em;
}

#add a {
    color: #dec219;
}
#add a:hover {
    background-color: #efefefef;
}