<!-- Referenciando a imagem da pasta assets/imagens -->
  <img src="assets/imagens/pexels-annetnavi-840566.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-ekamelev-3220368.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-katlovessteve-551628.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-lucasandrade-4681107.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-obviouslyarthur-10066114.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-pixabay-2166.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-taryn-elliott-3889819.jpg" alt="Imagem">
  <img src="assets/imagens/pexels-vanessa-loring-5082875.jpg" alt="Imagem">


